.main_content {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  position: relative;
}

.main_content header,
.main_content footer {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.central_content {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.central_content ul {
  list-style: none;
  flex-basis: 100%;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info_control,
.video_control {
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  z-index: 5;
}

.info_control .info_button {
  width: 24px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 3px 0 5px rgba(0, 0, 0, .3);
  position: relative;
  cursor: pointer;
}

.info_button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video_control {
  left: unset;
  right: 0;
  top: -2.5px;
}

.video_control .switch {
  height: 30px;
  aspect-ratio: 2/1;
  background-color: #fff;
  box-shadow: 3px 0 5px rgba(0, 0, 0, .3);
  border-radius: 15px;
  position: relative;
}

.switch::before,
.switch::after {
  content: 'Stop';
  padding: 0 7px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: .5rem;
}

.switch::after {
  content: 'Play';
  right: 0%;
}

.switch_dot {
  height: 24px;
  aspect-ratio: 1/1;
  background-color: #b6b8ba;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%) translateX(5px);
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.switch_dot_on {
  background-color: #cc0000;
  transform: translateY(-50%) translateX(calc(150% - 5px));
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
  font-weight: 700;
  position: relative;
  z-index: 5;
}

.card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card hr {
  margin-bottom: 7px;
}

header .card h2 {
  color: #cc0000;
  font-size: 3rem;
  font-weight: 700;
}

header .card h3 {
  color: #000;
  font-weight: 400;
}

.central_content .card {
  flex-basis: 150px;
  font-size: .8rem;
}

#pta_logo {
  filter: drop-shadow(2px 0 1px rgba(0, 0, 0, .5));
}