<div
  appBlurred
  class="absolute_position"
  [ngStyle]="{'z-index': expanded ? 45: 4}"
  (dblclick)="toggleFullscreen()"
  (mousedown)="hideInterfaceOnLongPress()"
  (mouseup)="showInterfaceOnUnpress()"
  (touchstart)="hideInterfaceOnLongPress()"
  (touchend)="showInterfaceOnUnpress()"
></div>
<aside
  class="absolute_position aside_news"
  [ngClass]="{'expanded':expanded}"
>
  <span
    class="aside_label"
    appHideInterface
    (click)="onClickAside()"
  ></span>
  <header>
    <h3>News</h3>
    <p class="aside_update">
      <span>Aggiornate il: </span>
      <span>{{dateUpdate}}</span>
    </p>
  </header>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="aside_content">
    <article
      class="error"
      *ngIf="error"
    >
      <p [innerText]="error.infoError"></p>
      <br>
      <p>Errore: <i>"{{error.errorMsg}}"</i></p>
    </article>
    <article *ngFor="let post of posts">
      <h4>{{post.title}}</h4>
      <div [innerHTML]="post.content"></div>
      <p [ngStyle]="{
        'text-align': 'right',
        'margin-top': '5px'}"> {{post.date |
        date:'d/M/y'}}</p>
    </article>
  </div>
  <footer class="aside_footer">
    <p>Fonte: <a
        href="https://www.mondomobileweb.it/category/rimodulazioni/"
        target="_blank"
      >MondoMobileWeb</a></p>
  </footer>
</aside>