.background {

  background-image: url(../assets/poster-video-iliad.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: -100;
}

video {
  object-fit: cover;
  z-index: -100;

}

/* sovrapposizione sfocata per background*/
.overlay_background {
  filter: brightness(50%);
  background-color: black;
  opacity: 0.8;

}

/* sfondo sfocato per modal e aside*/
.overlay_ui {
  opacity: 0.85;

}

@media (orientation:landscape) {

  video {

    object-position: 0 43%;
  }
}