<video
  #background_video
  id="background_video"
  class="absolute_position"
  height="0"
  width="0"
  src="../assets/video-iliad.mp4"
  [autoplay]="autoplayVideoState"
  [loop]="autoplayVideoState"
  muted
  playsinline
>
</video>
<div
  class="overlay_background absolute_position"
  appHideInterface
></div>
<div
  *ngIf="modalVisible || asideExpanded"
  class="backdrop absolute_position"
></div>
<app-modal *ngIf="modalVisible"></app-modal>
<app-aside-news></app-aside-news>
<app-main-content></app-main-content>