<div
  *ngIf="!autoplayVideoState"
  class="absolute_position background"
></div>
<video
  *ngIf="autoplayVideoState"
  poster="../assets/poster-video-iliad.png"
  #background_video
  id="background_video"
  class="absolute_position"
  height="0"
  width="0"
  src="../assets/video-iliad.mp4"
  [autoplay]="autoplayVideoState"
  [loop]="autoplayVideoState"
  muted
  playsinline
>
</video>
<div
  appBlurred
  class="absolute_position backdrop_background"
></div>
<app-modal *ngIf="modalVisible"></app-modal>
<app-aside-news></app-aside-news>
<app-main-content></app-main-content>