video {
  object-fit: cover;
  z-index: -100;
}

/* sovrapposizione sfocata per background*/
.overlay_background {

  backdrop-filter: blur(1.7px) brightness(.3);
  -webkit-backdrop-filter: blur(1.7px) brightness(.3);

}

/* sfondo sfocato per modal e aside*/
.overlay_ui {

  backdrop-filter: blur(1.7px) brightness(.2) grayscale(60%);
  -webkit-backdrop-filter: blur(1.7px) brightness(.2) grayscale(60%);

}

@media (orientation:landscape) {

  video {

    object-position: 0 43%;
  }
}