<div class="modal">
  <span
    class="close_modal"
    (click)="onClickClose()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="20"
      viewBox="0 -960 960 960"
      width="20"
      fill="#fff"
    >
      <path
        d="M480-429 316-265q-11 11-25 10.5T266-266q-11-11-11-25.5t11-25.5l163-163-164-164q-11-11-10.5-25.5T266-695q11-11 25.5-11t25.5 11l163 164 164-164q11-11 25.5-11t25.5 11q11 11 11 25.5T695-644L531-480l164 164q11 11 11 25t-11 25q-11 11-25.5 11T644-266L480-429Z"
      />
    </svg>
  </span>
  <header><img
      src="./assets/icons/icon-72x72.png"
      alt="icona homepage"
      width="50"
      height="50"
    >
    <h1>PTA Homepage</h1>
  </header>
  <p>
    <span>Doppio Tap sullo sfondo</span>
    <span> Attiva schermo intero</span>
  </p>
  <hr>
  <p>
    <span>Tap prolungato sullo sfondo</span>
    <span>Nascondi interfaccia</span>
  </p>
  <footer>
    <span>Loghi, video e articoli sono di proprietà delle rispettive
      aziende</span>
    <span>Autore pagina: <a
        href="https://t.me/CarloHD"
        target="_blank"
      >CarloHD</a></span>
  </footer>
</div>